
.bg-yellow{
    background-color:#FFFDEE !important;
}

.bg-blue{
    background-color:#DDEBF6 !important;
}

.bg-white{
    background-color:#FFFFFF !important;
}

.l-dashboard.boleta{
    height: calc(100vh - 48px);
}

.modules__button{
    border:none;
    background: none;
}

.modules__button .module-parrafo{
    margin-top:13px;
}

.modules__button .module-parrafo:hover{
    text-decoration: underline;
}